.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* padding-right: 900px; */
    position: absolute;
    width: 38%;
    height: 100px;
    margin-top: 20px;
    margin-left: 15.4%;
    transition: 0.3s;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  

  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
  }
  
  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: #454545;
    border-radius: 50%;
  }
  

  .page-selection {
    width: 48px;
    height: 30px;
    color: #dfdddd;
  }

  /* 반응형 */
@media screen and (max-width: 1420px) {
  /* .pagination {
    width: 60%;
    transition: 0.3s;
  } */
}   
/* 965 */
@media screen and (max-width: 1240px) {
  .pagination {
    /* width: 500px; */
    width: 100%;
    margin: auto;
    transition: 0.3s;
    margin-top: 20px;
  }
}   